    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Eddy Allen</h2>
                <p>Solo artist, singer, songwriter, guitarist. Plays with a loop pedal for full band sound with one guitar.</p>
                <p>Duo - Accompanied by either percussionist, saxophone, or trombone</p>
                <p>Trio - Accompanied by percussionist and brass</p>
                <p>Full band - Accompanied by percussionist, bass, saxophone, and trombone</p>
                <p></p>
                <p>Style: World fusion music. A versatile mix of Pop, Jazz, latin, Afro, gypsy.</p>
            </div>
        </div>
    </section>