    <!-- Book Me  Section -->
    <section id="bookme" class="content-section text-center">
        <div class="bookme-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Book me for the following occasions! </h2>
                    <p>
                        Private Parties- Birthdays, Bar Mitzvah<br />
                        Weddings<br />
                        Festivals<br />
                        Restaurants/Pubs<br />
                        Outdoor events
                    </p>

                    <p>
                        You can expect:
                        <br />
                        Reliable service, legal documents, with experience playing in different situations all over the world.  Plays what is right for your event.
                    </p>
                </div>
                <a href="mailto:{{ site.email }}" class="btn btn-default btn-lg auto-hovered"><i class="fa fa-envelope"></i> <span class="mail">Book Eddy now!</span></a> 
            </div>
        </div>
    </section>