    <!-- Book Me  Section -->
    <section id="bookme" class="content-section text-center">
        <div class="bookme-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Why book me?</h2>
                    <p>Reliable service, legal documents, experience playing in different situations all over the world. I play what is right for your event:</p>
                    <p>
                        Private parties- birthdays, bar mitzvah<br />
                        Weddings<br />
                        Festivals<br />
                        Restaurants/Pubs<br />
                        Clubs<br />
                        Boats<br />
                        Outdoor events<br />
                        Serenading
                    </p>
                </div>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg auto-hovered">Book Eddy now!</a>
            </div>
        </div>
    </section>