    <!-- Music Section -->
    <section id="music" class="content-section text-center">
        <div class="music-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>What kind of music?</h2>
                    <p>World fusion music. A versatile mix of Pop, Jazz, latin, Afro, gypsy.<br />Makes you move. Oh yeah.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Listen more!</a>
                </div>
            </div>
        </div>
    </section>