    <!-- Download Section -->
    <section id="photos" class="content-section text-center">
        <div class="photos-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Photos</h2>
                    <!-- <p></p> -->
                    <a href="https://www.flickr.com/photos/134264303@N02/sets/72157652580388274" class="btn btn-default btn-lg auto-hovered" target="_blank"><i class="fa fa-flickr"></i> <span class="flickr">Browse photos</span></a> 
                </div>
            </div>
        </div>
    </section>