.bookme-section {
    width: 100%;
    padding: 50px 0;
    color: white;
    background: url(/img/eddy-guitarist-sees-a-pink-elephant.jpg) no-repeat center center scroll;
    background-color: {{ site.color.primary-dark }};
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.bookme-section .col-lg-8.col-lg-offset-2 {
    background: rgba(0,0,0,.5);
}

.music-section {
    width: 100%;
    padding: 50px 0;
    color: white;
    background: url(/img/shadows-on-street.jpg) no-repeat center center scroll;
    background-color: {{ site.color.primary-dark }};
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.music-section .col-lg-8.col-lg-offset-2 {
    background: rgba(0,0,0,.5);
}

.auto-hovered {
    border: 1px solid {{ site.color.links }};
    outline: 0;
    color: {{ site.color.primary-dark }};
    background-color: {{ site.color.links }};

    margin-top: 10px;
}
.auto-hovered:hover {
    color:white;
}
.contact-info {
    float: left;
}