<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include music.html %}
    {% include photos.html %}

    {% comment %}
    {% include video.html %}
    {% endcomment %}

    {% include bookme.html %}
    {% include contact.html %}

    <!-- crowdfunder for amps4africa -->
    <div style="position:relative;">
        <div style="margin: 0 auto; width: 400px;">
            <script src="https://www.crowdfunder.co.uk/amps-4-africa-first-trip/widget.js/" type="text/javascript"></script>
        </div>
    </div>
    {% include map.html %}
    {% include footer.html %}
    {% include js.html %}
</body>
</html>